{:deps {thi.ng/geom {:mvn/version "1.0.0-RC4"}
        org.jogamp.gluegen/gluegen-rt {:local/root "vendor/gluegen-rt.jar"}
        org.jogamp.gluegen/jogl-all {:local/root "vendor/jogl-all.jar"}
        org.jogamp.gluegen/gluegen-rt$natives-macosx-universal {:local/root "vendor/gluegen-rt-natives-macosx-universal.jar"}
        org.jogamp.jogl/jogl-all$natives-macosx-universal {:local/root "vendor/jogl-all-natives-macosx-universal.jar"}
        org.jogamp.gluegen/gluegen-rt$natives-windows-amd64 {:local/root "vendor/gluegen-rt-natives-windows-amd64.jar"}
        org.jogamp.jogl/jogl-all$natives-windows-amd64 {:local/root "vendor/jogl-all-natives-windows-amd64.jar"}
        nrepl/nrepl {:mvn/version "0.8.3"}}
 }
